#header{
    height: 5%;
    background-color: blue;
}

#mainBody{
    height: 95%;
    display: flex;
    .sideMenu-collapsed{
       width: 20%;
    }
    .sideMenu{
        background: var(--p-panel-background);
    }
    .sideMenu-expanded{
        width: 30%;
    }
    .content-extended{
        width: 90%;
    }
    .content-collapsed{
        width: 80%;
    }
}